@import '../mixins/config.scss';
@import '../mixins/var.scss';

.ik-button {
  display: inline-flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 60px;
  padding: 6px 20px;

  font-size: 14px;
  transition: transform 0.26s ease-in-out;

  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border-radius: var(--default-radius);

  &.ik-button__round {
    border-radius: var(--default-round-radius);
  }

  .ik-button__inner {
    height: 24px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    .ik-icon {
      width: 18px !important;
      height: 18px !important;
      margin: 0 2px;
    }
  }
  .loading-icon {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: rotating 1.6s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &:hover {
    transform: translateY(-1px);
  }
  &:focus {
    outline: none;
  }
  // @for $list from 1 to (length($allColors) + 1) {
  //   $item: nth($allColors, $list);

  //   &.ik-button-#{map-get($item, name)} {
  //     background-color: map-get($item, default);
  //     color: map-get($item, defaultTextColor);
  //     &:hover {
  //       background-color: map-get($item, defaultHover);
  //     }
  //     &:active {
  //       background-color: map-get($item, defaultActive);
  //     }
  //   }
  // }
  &.ik-button-small {
    padding: 2px 12px;
  }
  &.ik-button-large {
    padding: 8px 24px;
  }

  &.ik-button-default {
    background-color: var(--default-color);
    &.ik-button-disabled {
      background-color: var(--default-color-lighter-2);
      &:hover,
      &:active {
        background-color: var(--default-color-lighter-2);
      }
    }
    &:hover {
      background-color: var(--default-color-lighter-1);
    }
    &:active {
      background-color: var(--default-color-darker-1);
    }
  }
  &.ik-button-primary {
    color: #fff;
    background-color: var(--primary-color);
    &.ik-button-disabled {
      background-color: var(--primary-color-lighter-3);
      &:hover,
      &:active {
        background-color: var(--primary-color-lighter-3);
      }
    }
    &.ik-button-plain {
      background-color: var(--button-plain-bg);
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      &:hover {
        background-color: var(--button-plain-bg);
      }
      &:active {
        background-color: var(--button-plain-bg);
      }
    }
    &:hover {
      background-color: var(--primary-color-lighter-1);
    }
    &:active {
      background-color: var(--primary-color-darker-1);
    }
  }
  &.ik-button-success {
    color: #fff;
    background-color: var(--success-color);
    &.ik-button-disabled {
      background-color: var(--success-color-lighter-2);
      &:hover,
      &:active {
        background-color: var(--success-color-lighter-2);
      }
    }
    &.ik-button-plain {
      background-color: var(--button-plain-bg);
      border: 1px solid var(--success-color);
      color: var(--success-color);
      &:hover {
        background-color: var(--button-plain-bg);
      }
      &:active {
        background-color: var(--button-plain-bg);
      }
    }
    &:hover {
      background-color: var(--success-color-lighter-1);
    }
    &:active {
      background-color: var(--success-color-darker-1);
    }
  }
  &.ik-button-warning {
    color: #fff;
    background-color: var(--warning-color);
    &.ik-button-disabled {
      background-color: var(--warning-color-lighter-2);
      &:hover,
      &:active {
        background-color: var(--warning-color-lighter-2);
      }
    }
    &.ik-button-plain {
      background-color: var(--button-plain-bg);
      border: 1px solid var(--warning-color);
      color: var(--warning-color);
      &:hover {
        background-color: var(--button-plain-bg);
      }
      &:active {
        background-color: var(--button-plain-bg);
      }
    }
    &:hover {
      background-color: var(--warning-color-lighter-1);
    }
    &:active {
      background-color: var(--warning-color-darker-1);
    }
  }
  &.ik-button-danger {
    color: #fff;
    background-color: var(--danger-color);
    &.ik-button-disabled {
      background-color: var(--danger-color-lighter-2);
      &:hover,
      &:active {
        background-color: var(--danger-color-lighter-2);
      }
    }
    &.ik-button-plain {
      background-color: var(--button-plain-bg);
      border: 1px solid var(--danger-color);
      color: var(--danger-color);
      &:hover {
        background-color: var(--button-plain-bg);
      }
      &:active {
        background-color: var(--button-plain-bg);
      }
    }
    &:hover {
      background-color: var(--danger-color-lighter-1);
    }
    &:active {
      background-color: var(--danger-color-darker-1);
    }
  }
  &.ik-button__ikun {
    position: relative;
    overflow: hidden;
    // background-color: #333;
    // color: #fff;
    .ik-button__inner {
      z-index: 1;
    }
    &::before,
    &::after {
      content: '';
      border-radius: 65px 21px 76px 14px / 90px 17px 111px 26px;
      background-image: linear-gradient(to right, lightgrey, grey);
      width: 20px;
      height: 20px;
      z-index: 0;

      position: absolute;
    }
    &::before {
      left: calc(50% - 21px);
      top: -2px;
    }
    &::after {
      right: calc(50% - 19px);
      top: -3px;
      transform: rotate(270deg);
    }
  }
  // &.ik-button-info {
  //   color: #fff;
  //   background-color: var(--info-color);
  // }
  &.ik-button-disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      transform: none;
    }
  }
}
