@import '../mixins/config.scss';

.slide-fade__select-enter-active,
.slide-fade__select-leave-active {
  transition: all 0.1s;
}
// .slide-fade__select-enter-from {
//   transform: translateY(10px);
// }

.slide-fade__select-enter-from,
.slide-fade__select-leave-to {
  opacity: 0;
  transform: translateY(-8px);
}

.ik-select {
  width: 100%;
  position: relative;
  // margin-top: 14px;
  .ik-select__inner {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--input-default-border-color);
    border-radius: var(--default-radius);
    padding: 5px 12px;
    background-color: var(--select-inner-bg);
    color: var(--select-inner-color);
    cursor: pointer;
    &:hover {
      border-color: var(--primary-color-hover);
    }
    &.select--focus {
      border-color: var(--primary-color);
      .ik-icon {
        transform: rotate(90deg);
      }
    }
    .ik-select__input {
      line-height: 24px;
      font-size: 14px;
      cursor: pointer;
      user-select: none;
      width: calc(100% - 20px);
    }
    .ik-icon {
      transition: transform 0.22s;
      fill: var(--input-default-border-color);
    }
    .ik-select--clear {
      margin-top: 3px;
    }
  }
  .ik-select--options {
    background-color: var(--select-options-bg);
    box-shadow: var(--default-shadow);
    border-radius: var(--default-radius);
    box-sizing: border-box;
    padding: 4px 8px;
    z-index: 9;

    position: absolute;
    top: 40px;
    width: 100%;
    .ik-select--item {
      cursor: pointer;
      border-radius: var(--default-radius);
      padding: 4px;
      font-size: 14px;
      transition: all 0.46s;
      user-select: none;
      margin: 4px 0;
      &.ik-select--item__active {
        color: var(--primary-color);
        background-color: var(--default-color);
      }
      &:hover {
        color: var(--primary-color);
        background-color: var(--default-color);
      }
    }
  }
}
