@import '../mixins/config.scss';

.ik-switch__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  .ik-switch--text {
    color: #666;
    font-size: 14px;
  }
}
.ik-switch {
  min-width: 40px;
  height: 20px;
  display: inline-flex;
  box-sizing: border-box;
  padding: 2px 12px;
  border-radius: 16px;
  cursor: pointer;

  position: relative;

  .ik-switch__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.2s;

    position: absolute;
    top: 2px;
  }
  // &:active {
  //   .ik-switch__dot {
  //     width: 18px;
  //   }
  // }
  &.ik-switch__actived {
    background-color: var(--switch-bg-on-color);
    .ik-switch__dot {
      left: calc(100% - 18px);
    }
  }
  &.ik-switch__default {
    background-color: var(--switch-bg-off-color);
    .ik-switch__dot {
      left: 2px;
    }
  }
  &.ik-switch--square {
    border-radius: 4px;
    .ik-switch__dot {
      border-radius: 4px;
    }
  }
}
