@import '../mixins/config.scss';

.ik-tab {
  .ik-tab--header {
    border-bottom: 2px solid #f5f5f5;
    display: flex;
    gap: 20px;
    position: relative;
    .header--active__block {
      content: ' ';
      height: 2px;
      background-color: var(--primary-color);
      transition: all 0.22s;

      position: absolute;
      bottom: -2px;
      left: 0;
    }
    .tab-header--item {
      cursor: pointer;
      display: flex;
      user-select: none;
      text-align: center;
      padding: 4px 0;
      font-size: 14px;
      // margin: 0 10px;
      &.tab-header-item__active {
        color: var(--primary-color);
      }
    }
  }
  &.ik-tab--segmented {
    .ik-tab--header {
      background-color: var(--tabs-header-bg);
      border: none;
      border-radius: var(--default-radius);
      padding: 2px 2px;
      .tab-header--item {
        z-index: 2;
        padding: 4px 8px;
      }
      .header--active__block {
        content: ' ';
        height: calc(100% - 4px);
        background-color: var(--tabs-header-block-bg);
        border-radius: var(--default-radius);
        bottom: 2px;
        top: 2px;
        left: 2px;
        z-index: 1;
      }
    }
  }
  .ik-tab-item {
    padding: 10px 0;
  }
}
