@import '../src/var.scss';

.ik-button {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 12px;
  padding: 6px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  transition: transform .26s ease-in-out;
  
  .ik-button__inner {
    display: inline-flex;
  }
  .loading-icon {
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: rotating 1.6s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &:hover {
    transform: translateY(-1px);
    // box-shadow: 0 2px 2px -1px #00000033,
    //           0 1px 2px 0 #00000033,
    //           0 1px 2px 0 #00000033;
  }
  &:focus {
    outline: none;
  }
  @for $list from 1 to (length($allColors) + 1) {
    $item: nth($allColors, $list);

    &.ik-button-#{map-get($item, name)} {
      background-color: map-get($item, default);
      color: map-get($item, defaultTextColor);
      &:hover {
        background-color: map-get($item, defaultHover);
      }
      &:active {
        background-color: map-get($item, defaultActive);
      }
    }
  }
  &.ik-button-disabled {
    cursor: not-allowed;
    background-color: #dee1e5;
    color: #333;
    &:hover,
    &:active {
      background-color: #dee1e5;
      color: #333;
      transform: none;
    }
  }
}
