// $default: #f0f0f0;
// $primary: #cd8025;
// $success: #01847f;
// $warning: #fbD26a;
// $danger: #470024;
// $info: #4341bd;

$qianyun: #eaecf1; // 浅云
// $rimu: #cd8025; // 日暮
$rimu: #6379f6; // 绀宇
$tianshuibi: #5aa4ae; // 天水碧
$zhuyantuo: #f29a76; // 朱颜砣
$shiliuqun: #b13b2e; // 石榴裙
$mushanzi: #a4abd6; // 暮山紫

$default: $qianyun;
$primary: $rimu;
$success: $tianshuibi;
$warning: $zhuyantuo;
$danger: $shiliuqun;
$info: $mushanzi;

// button hover
$button-lighter--default: lighten($default, 3%);
$button-lighter--primary: lighten($primary, 3%);
$button-lighter--info: lighten($info, 3%);
$button-lighter--success: lighten($success, 3%);
$button-lighter--warning: lighten($warning, 1%);
$button-lighter--danger: lighten($danger, 2%);

// button active
$button-darker--default: darken($default, 3%);
$button-darker--primary: darken($primary, 2%);
$button-darker--info: darken($info, 3%);
$button-darker--success: darken($success, 2%);
$button-darker--warning: darken($warning, 4%);
$button-darker--danger: darken($danger, 2%);

// 不同类型的颜色状态
$allColors: (
  (
    name: 'default',
    // 默认背景色
    default: $default,
    // hover
    // simple: $button-lighter--default,
    defaultTextColor: #333,
    // hover 状态背景色
    defaultHover: $button-lighter--default,
    // Active 状态背景色
    defaultActive: $button-darker--default,
  ),
  (
    name: 'primary',
    default: $primary,
    defaultTextColor: #ffffff,
    defaultHover: $button-lighter--primary,
    defaultActive: $button-darker--primary,
  ),
  (
    name: 'info',
    default: $info,
    defaultTextColor: #ffffff,
    defaultHover: $button-lighter--info,
    defaultActive: $button-darker--info,
  ),
  (
    name: 'success',
    default: $success,
    defaultTextColor: #ffffff,
    defaultHover: $button-lighter--success,
    defaultActive: $button-darker--success,
  ),
  (
    name: 'warning',
    default: $warning,
    defaultTextColor: #ffffff,
    defaultHover: $button-lighter--warning,
    defaultActive: $button-darker--warning,
  ),
  (
    name: 'danger',
    default: $danger,
    defaultTextColor: #ffffff,
    defaultHover: $button-lighter--danger,
    defaultActive: $button-darker--danger,
  )
);

// *::selection {
//   background-color: $button-lighter--primary;
// }

$border-radius--size: 6px;
