.VPNavBarTitle .title {
  padding-left: 10px;
}
.VPSidebarGroup .title {
  padding-left: 10px;
}
.VPSidebarGroup .items  .link {
  padding: 5px 0 5px 10px;
}
.VPSidebarGroup .items  .link.active {
  transition: all .2s;
  background-color: #ebad604a;
  border-radius: 4px;
}

.flex {
  display: flex;
}
summary {
  cursor: pointer;
}
.VPFeature {
  opacity: .88;
}
.is-home::before {
  content: ' ';
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: antiquewhite;
  z-index: -1;
  /* transition: all ; */

  position: fixed;
  top: 80px;
  left: -50px;

  animation: slide-ani 10s 200ms linear alternate infinite;
  animation-delay: 600ms;
}

.is-home::after {
  content: ' ';
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: skyblue;
  z-index: -1;
  /* transition: all ; */

  position: fixed;
  bottom: 120px;
  right: -40px;

  animation: slide-ani 10s 200ms linear alternate infinite;
  animation-delay: 600ms;
}

@keyframes slide-ani {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(0, 40px);
  }
  75% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
