.VPSidebarItem .item {
  padding-left: 8px;
  user-select: none;
}
.VPSidebarItem .is-active {
  transition: all 0.2s;
  /* padding-left: 8px; */
  background-color: var(--vp-c-brand-hover);
  border-radius: var(--default-radius);
}
.VPButton.medium {
  border-radius: 8px !important;
  border: none;
}
.VPImage {
  max-width: 280px !important;
}
.VPDocAsideOutline .content {
  border: none;
}
.VPDocAsideOutline .active {
  color: var(--primary-color) !important;
}
.outline-marker {
  width: 4px !important;
  border-top-right-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
}
.actions .action .brand:hover {
  opacity: 0.88;
}
.pager .pager-link {
  border-radius: var(--default-radius);
}
.pager-link:hover .title {
  color: var(--primary-color) !important;
}
.custom-block {
  border-radius: var(--default-radius);
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
summary {
  cursor: pointer;
}
.VPFeature {
  opacity: 0.88;
}
.is-home::before {
  content: '🐥';
  width: 400px;
  height: 400px;
  border-radius: 100%;
  font-size: 320px;
  text-align: center;
  line-height: 400px;
  opacity: 0.5;
  /* background-color: var(--vp-c-brand-opacity); */
  z-index: -1;
  /* transition: all ; */

  position: fixed;
  top: 80px;
  left: -50px;

  animation: slide-ani 10s 200ms linear alternate infinite;
  animation-delay: 600ms;
}

.is-home::after {
  content: '🏀';
  width: 260px;
  height: 260px;
  text-align: center;
  line-height: 260px;
  font-size: 220px;
  border-radius: 100%;
  opacity: 0.8;
  /* background-color: var(--vp-c-brand-opacity); */
  z-index: -1;
  /* transition: all ; */

  position: fixed;
  bottom: 120px;
  right: 0px;

  animation: slide-ani2 9s 200ms linear alternate infinite;
  animation-delay: 600ms;
}

.dark .is-home::before {
  background-color: #434348;
}

.dark .is-home::after {
  background-color: #2e2e2e;
}

.dark {
  --primary-color-hover: #333;
}

@keyframes slide-ani {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(0, 40px);
  }
  75% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-ani2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15px, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animation-box {
  width: 100%;
  height: 220px;
  border-radius: var(--default-radius);
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid var(--vp-c-brand);
}

.control-button-wrap {
  display: none !important;
}

.vp-doc tr,
.vp-doc th,
.vp-doc td {
  border: none;
  font-size: 15px;
}

/* .VPSidebar::-webkit-scrollbar-thumb {
  background-color: #f5f5f5 !important;
}
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */

.VPFeature,
.pager-link {
  overflow: hidden;
  position: relative;
  /* border: 1px solid var(--primary-color) !important; */
}

.VPFeature::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(/ikun-ui/ik-4.png);
  background-size: cover;
  /* backdrop-filter: blur(12px); */
  opacity: 0.1;
}

.VPHomeFeatures .items .item:nth-child(2) .VPFeature::after {
  background-image: url(/ikun-ui/ik-7.png);
}

.VPHomeFeatures .items .item:nth-child(3) .VPFeature::after {
  background-image: url(/ikun-ui/ik-6.png);
}
.VPHomeFeatures .items .item:nth-child(4) .VPFeature::after {
  background-image: url(/ikun-ui/ik-5.png);
}

.pager-link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(/ikun-ui/ik-2.jpg);
  background-size: contain;
  overflow: hidden;

  opacity: 0.1;
}

/* .vp-doc div[class*='language-'] + div[class*='language-'] {
  background-image: url(/ikun-ui/ik-2.jpg);
  opacity: 0.2;
} */
.qianyun,
.shangeng {
  position: relative;
}
.qianyun::before,
.mushanzi::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-image: url(/ikun-ui/ik-2.jpg);
  background-size: cover;
  opacity: 0.1;
}

.mushanzi::before {
  background-image: url(/ikun-ui/ik-3.jpg);
}

.language-vue {
  position: relative;
}
.language-vue::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-image: url(/ikun-ui/ik-3.jpg);
  background-size: contain;
  opacity: 0.04;
}

/* .VPFooter {
  display: none;
} */
.VPSidebar,
.VPNavBar .title {
  background-color: #fff !important;
}
.dark .VPSidebar {
  background-color: var(--vp-sidebar-bg-color) !important;
}
.dark .VPNavBar .title {
  background-color: transparent !important;
}
.content-body,
.VPLocalNav {
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(6px);
}
.dark .content-body,
.dark .VPLocalNav {
  background-color: var(--vp-nav-bg-color) !important;
  backdrop-filter: blur(6px);
}

.VPMenu {
  padding: 8px 6px !important;
  border: none !important;
}

::-webkit-scrollbar {
  background: transparent;
  width: 12px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #cccccc;
  width: 12px;
  height: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb8b8;
}
.VPSidebar::-webkit-scrollbar {
  background: transparent;
  width: 0;
  height: 10px;
}
.VPSidebar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eee;
  width: 0;
  height: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.VPSwitchAppearance {
  border-color: #eee !important;
}
