/* home */
:root {
  --vp-home-hero-name-color: transparent;
  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #cd8025 40%, #eccd90); */
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--primary-color) 40%, var(--primary-color-hover));

  /* --vp-home-hero-image-background-image: linear-gradient(-45deg, #cd8025 50%, #eccd90 50%); */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--primary-color) 50%,
    var(--primary-color-hover) 50%
  );
  --vp-home-hero-image-filter: blur(60px);
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

/* :root {
  --vp-c-brand: #cd8025;
  --vp-c-brand-light: #cd8025;
  --vp-c-brand-lighter: #505058;
  --vp-c-brand-lightest: #1a1a20;
  --vp-c-brand-dark: #a55b03;
  --vp-c-brand-darker: #a55b03;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
} */
:root {
  /* --vp-c-brand: #6379f6; */
  --vp-c-brand: var(--primary-color);
  /* --vp-c-brand-light: #6379f6; */
  --vp-c-brand-light: var(--primary-color);
  --vp-c-brand-lighter: #505058;
  --vp-c-brand-lightest: #1a1a20;
  /* --vp-c-brand-dark: #6379f6; */
  /* --vp-c-brand-dark: #6379f6; */
  --vp-c-brand-dark: var(--primary-color);
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);

  --vp-c-brand-opacity: var(--primary-color-hover);
  --vp-c-brand-hover: var(--primary-color-hover);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}
