@import '../src/var.scss';

.ik-checkbox {
  display: inline-flex;
  cursor: pointer;
  color: #333;
  .ik-checkbox-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    .ik-checkbox-input {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
  .ik-checkbox-icon {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 4px;
  }
  .ik-checkbox-label {
    user-select: none;
    cursor: pointer;
  }
  &.ik-checkbox--selected {
    color: $primary;
    .ik-checkbox-icon {
      border: 1px solid $primary;
      background-color: $primary;
    }
    .ik-checkbox-icon::after {
      content: ' ';
      width: 3px;
      height: 9px;
      transform: rotate(45deg) scaleY(.8);
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      margin-top: -1px;
      animation: scale_ani .1s ease-in;
      @keyframes scale_ani {
        from {
          transform: rotate(45deg) scale(0);
        }
        to {
          transform: rotate(45deg) scale(1);
        }
      }
    }
  }
}